@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* responsive media */
/* support */
@media (min-width: 1536px) and (max-width: 15360px) {
  .xxxlblock {
    display: block;
  }
}
/* setting */
@media (min-width: 0px) and (max-width: 1535px) {
  .xxlblock {
    display: block;
  }
}
/* search and logoText */
@media (min-width: 1023px) and (max-width: 15350px) {
  .xlblock {
    display: block;
  }
}
/* small search */
@media (min-width: 0px) and (max-width: 1023px) {
  .xsblock {
    display: block;
  }
}
/* আল হাদিস text */
@media (min-width: 349px) and (max-width: 1023px) {
  .smblock {
    display: block;
  }
}
/* nav help hend */
@media (min-width: 1023px) and (max-width: 1535px) {
  .helpblock {
    display: block;
  }
}
/* responsive media .end */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--bangla-font);
}

.myEngFont {
  font-family: var(--inter-font);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
